.dark__bg {
    margin: 0;
    height: 84vh;
    background-color: #12002b;
    overflow: auto;
}

.signIn__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 48px;
    padding: 32px;
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 16px;
}

.input__wrapper label {
    font-weight: bold;
}

.input__wrapper input {
    padding: 5px;
    font-size: 18px;
}

.input__remember {
    display: flex;
    align-items: center;
}

.input__remember label {
    margin-left: 4px;
}

.signin__btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
    color: white;
    border-color: #00bc77;
    background-color: #00bc77;
}